<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <h1> <%= title %> </h1>
    <%- seconds %>
    <% if (seconds % 2 === 0) { %>
    <p>No item to preview</p>
    <% } else { %>
    <ul>
      <% for (let item of items) { %>
      <li><%= item %></li>
      <% } %>
    </ul>
    <% } %>
    <%- htmlContent %>
    <%- include('footer.ejs') %>
  </body>
</html>
